* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(83, 0, 190, 0.5);
    height: 200vh;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* flex: 5; */
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    outline: 1px solid black;
}

header section {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 52px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid black;
    width: 33%;
    height: 33%;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    outline: 19x solid black;
    width: 98%;
    margin: 1%;
}

header nav ul li {
    display: inline;
    outline: 1px solid black;
    font-size: 24px;
}

header nav ul li a {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1%;
    height: 190vh;
    outline: 1px solid black;
}

img {
    height: 20vh;
}

section.card {
    opacity: .5;
}

section.card:hover {
    opacity: 1;
    cursor: pointer;
}

section {
    outline: 1px solid black;
}

h2 {
    font-size: 32px;
    outline: 1px solid black;
    text-align: right;
    width: 98%;
}

h2:first-child {
    margin-top: 30%;
}

h2:last-child {
    margin-bottom: 30%;
}

section.first {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 98%;
    margin: 1%;
    border-left: 5px solid blue;
}


section.second {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 98%;
    margin: 1%;
    border-left: 5px solid blue;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    /* flex: 1; */
    margin: 1%;
    padding: 1%;
    outline: 1px solid black;
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 98%;
    margin: 1%;
    outline: 1px solid black;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    outline: 1px solid black;
    width: 98%;
    height: 98%;
    margin: 1%;
    border-left: 5px solid blue;
}

footer ul li {
    outline: 1px solid black;
    display: inline;
    font-size: 20px;
}

footer a {
    color: white;
}

div.mainfoot {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 100%;
}

div.aside {
    display: flex;
    flex-direction: row;
    order: 1;
    flex: 1 1 20%;
}

.a {
    display: flex;
    flex-direction: row;
    height: 190vh;
    flex: 2 2 80%;
}



@media screen and (max-width: 768px){
    header {
        background-color: red;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
    }

    footer ul {
        display: flex;
        flex-direction: column;
    }
}

