:root {
    --oneHundred: 100%;
    --nintyEight: 98%;
    --one: 1%;
    --border: 5px solid darkslateblue;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: slategrey;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 320px;
    width: var(--oneHundred);
    background-image: linear-gradient(
        180deg, darkslateblue, slategrey, slategrey, darkslateblue);
}

header section {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 52px;
    color: darkseagreen;
    background-color: darkslateblue;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 33%;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    width: var(--nintyEight);
    margin: var(--one);
    background-color: darkslateblue;
}

header nav ul li {
    display: inline;
    font-size: 24px;
}

header nav ul li a {
    color: darkseagreen;
}

main {
    display: flex;
    flex-direction: column;
    margin: var(--one);
    overflow: auto;
    flex: 1;
}

img {
    height: 320px;
}

a img {
    height: var(--oneHundred);
    width: var(--oneHundred);
}

section.card {
    position: relative;
    text-align: center;
    opacity: .5;
    width: 40%;
    padding: 20px;
    height: 50%;
}

section.card:hover {
    opacity: 1;
    cursor: pointer;
}

div.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bolder;
    color: darkseagreen;
    background-color: darkslateblue;
}

h2 {
    font-size: 32px;
    text-align: right;
    color: darkseagreen;
    width: var(--nintyEight);
    background-color: darkslateblue;
}

/* Aligning h2 to content */
h2:first-child {
    margin-top: .6em;
}

h2:nth-child(2) {
    margin-bottom: 24.9em;
}

h2:last-child {
    margin-bottom: .25em;
}

section.first {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: var(--nintyEight);
    margin: var(--one);
    border-left: var(--border);
    padding: var(--one);
    background-color: #483d8b36;
}

section.second {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    width: var(--nintyEight);
    margin: var(--one);
    border-left: var(--border);
    background-color: #483d8b36;
    height: 1000px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: var(--nintyEight);
    margin: var(--one);
    padding: var(--one);
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: var(--nintyEight);
    margin: var(--one);
    background-color: darkslateblue;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: var(--nintyEight);
    height: var(--nintyEight);
    margin: var(--one);
    border-left: var(--border);
}

footer ul li {
    display: inline;
    font-size: 20px;
}

footer a {
    color: darkseagreen;
}

div.mainfoot {
    display: flex;
    flex-direction: column;
    order: 2;
    width: var(--oneHundred);
    height: fit-content;
}

div.aside {
    display: flex;
    flex-direction: row;
    order: 1;
    flex: 1 1 20%;
}

.container {
    display: flex;
    flex-direction: row;
}

.one {
    width: 50%;
    height: 50%;
}

/* Changes layout to fit smaller width screens */
@media screen and (max-width: 768px){
    header nav ul {
        display: flex;
        flex-direction: column;
    }

    footer ul {
        display: flex;
        flex-direction: column;
    }

    section.second {
        display: flex;
        flex-direction: column;
    }

    section.card {
        width: 100%;
        height: 30%;
    }

    div.centered {
        font-size: 24px;
    }
}

